<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="author" content="vscing-http://www.vscing.com" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
    />
    <title><%= title %></title>
    <!-- <meta name="keywords" content="<%= title %>" />
    <meta name="description" content="<%= title %>" /> -->
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  </head>
  <body>
    <!-- TODO 防止爬虫抓取后台url -->
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
